@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 2% 11%;
    --foreground: 0 0% 98%;
    --card: 240 2% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 340 82% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 2% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 2% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 240 2% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 20%;
    --input: 240 2% 20%;
    --ring: 340 82% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 2% 11%;
    --foreground: 0 0% 98%;
    --card: 240 2% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 340 82% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 2% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 2% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 240 2% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 20%;
    --input: 240 2% 20%;
    --ring: 340 82% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
